.calendar {
  background-color: #111;
  border: 1.6rem solid #cdc4b0;
  border-radius: .2rem;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: min(4vw, 5rem);
  overflow-x: scroll;
  box-shadow: 0rem .3rem 1.5rem rgba(16,16,16,0.2);
}

.calendar section {
  padding-top: 5rem;
  padding-bottom: 7rem;
  display: grid;
  grid-row-gap: 1rem;
  justify-content: start;
  align-content: flex-start;
}

.calendar section:first-child { padding-left: 11rem; }
.calendar section:last-child { padding-right: 11rem; }

.calendar section::before {
  content: "";
  color: #ede4b5;
  font-size: 3.5rem;
  line-height: 0rem;
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  left: -8rem;
  top: -1rem;
}
.calendar section:first-child::before {
  content: "⬢";
}
.calendar section:last-child::before {
  content: "⬢";
  left: 15.5rem;
}
.calendar section:first-child::after {
  content: "⬢";
  color: #ede4b5;
  font-size: 3.5rem;
  line-height: 0rem;
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  top: 5.5rem;
  left: -7.5rem;
}
.calendar section:last-child::after {
  content: "⬢";
  color: #ede4b5;
  font-size: 3.5rem;
  line-height: 0rem;
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  top: 5.5rem;
  left: 15.5rem;
}

.calendar header {
  color: #ede4b5;
  font-size: 5.4rem;
  text-align: center;
  vertical-align: middle;
}

.day {
  user-select: none;
  text-align: center;
  vertical-align: middle;
  box-sizing: content-box;
}

.day input { display: none; width: 0rem; height: 0rem; }

.day label {
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  color: #111;
  line-height: 9.5rem;
  font-size: 5.5rem;
  background-image: url('/assets/hex_button/off.svg');
  display: block;
  transition: background-image 0.1s ease-in;
}
.accessible .day label {
  color: #ede4b5;
  background-image: url('/assets/hex_button/off-acc.svg');
}
.day label.checked {
  color: goldenrod;
  background-image: url('/assets/hex_button/on.svg');
}
.accessible .day label.checked {
  color: #111;
  background-image: url('/assets/hex_button/on-acc.svg');
}

.day::after {
  content: "";
  width: 10rem;
  height: 4.5rem;
  margin-top: -1.6rem;
  margin-bottom: -2.6rem;
  display: block;
  background-image: url('/assets/hex_button/spacer.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.day:last-child::after { content: none; }
