* { box-sizing: border-box; }
/* Safari font scaling is messed up, which means this font size based style breaks at zoomed-out levels. */
:root {
  font-size: 62.5%;
  font-family: 'Assistant', sans-serif, monospace;
  font-weight: 300;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #F7F3ED;
}

#app::after {
  content: "";
  width: 15rem;
  height: 15rem;
  display: block;
  border-right: 2rem solid #111;
  box-shadow: .7rem 0rem .6rem .1rem rgba(16,16,16,0.15);
}
#app { padding: 10rem 10vw 0 10vw; }

@media only screen and (max-width: 800px) {
  #app { padding: 10rem 0 0 0; }
  #app::after { height: 10rem; }
}

@media only screen and (max-width: 720px) {
  html { font-size: 40%; }
}
@media only screen and (max-height: 400px) {
  html { font-size: 40%; }
}
